<ion-view view-title="Login" hide-nav-bar="true">
    <ion-content padding="true" class="has-header">
        <div class="list padding">
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="email" placeholder="Enter the Email Id" ng-model="vm.user.email">
            </label>
            <label class="item item-input" ng-show="vm.showLogin">
                <span class="input-label">Password</span>
                <input type="password" placeholder="Enter the Password" ng-model="vm.user.password">
            </label>
            <label class="item item-input" ng-show="vm.showReset">
                <span class="input-label">Mobile Number</span>
                <input type="number" placeholder="Enter the Mobile Number" ng-model="vm.mobile">
            </label>
            <div style="width: 100%; float: left; margin-top: 10px;">
                <a class="assertive" href="" style="float: right;" ng-click="vm.displayReset()" ng-show="vm.showLogin">Forgot Password?</a>
            </div>
            <button class="button button-full button-positive" ng-click="vm.signIn()" ng-show="vm.showLogin">LOGIN</button>
            <button class="button button-full button-stable" ng-click="vm.signUp()" ng-show="vm.showLogin">SIGN UP</button>

            <button class="button button-full button-positive" ng-click="vm.resetPassword(vm.mobile)" ng-show="vm.showReset">RESET PASSWORD</button>
            <button class="button button-full button-stable" ng-click="vm.displayLogin()" ng-show="vm.showReset">BACK</button>
        </div>
    </ion-content>
</ion-view>