<ion-view title="User Signup" hide-nav-bar="true">
    <ion-content class="padding">
        <form class="list" name="myform">
            <label class="item item-input">
                <span class="input-label">First Name<sup> <font color="red"> * </sup></span>
                <input type="text" placeholder="Enter the First Name" ng-model="vm.user.firstName" required />
            </label>
            <label class="item item-input">
                <span class="input-label">Last Name</span>
                <input type="text" placeholder="Enter the Last Name" ng-model="vm.user.lastName">
            </label>
            <label class="item item-input">
                <span class="input-label">Mobile</span>
                <input type="number" placeholder="Enter the Mobile Number" ng-model="vm.user.mobileNumber" required>
            </label>
            <label class="item item-input">
                <span class="input-label">Email<sup> <font color="red"> * </sup></span>
                <input type="email" placeholder="Enter the Email" ng-model="vm.user.email" required>
            </label>
<!--            <label class="item item-input">
                <span class="input-label">Password<sup> <font color="red"> * </sup></span>
                <input type="password" placeholder="Enter the Password" ng-model="vm.user.password" required>
            </label>-->
            <label class="item item-input">
                <span class="input-label">Designation</span>
                <input type="text" placeholder="Enter the Designation" ng-model="vm.user.designation">
            </label>
        </form>
        <button class="button button-full button-positive" ng-disabled="myform.$invalid" ng-click="vm.signIn()">SIGN IN</button>
        <button class="button button-full button-stable" ng-click="vm.goBack()">BACK</button>
        <span style="text-align: center; color:red;">{{vm.message}}</span>
    </ion-content>
</ion-view>