<ion-view class="segments">
    <ion-nav-title style="color:#FFF; text-align:center;background-color: #094261;">
        <h3 style="margin-top: 7px;color:#FFF;">{{vm.user.firstname}} {{vm.user.lastname}}</h3>
    </ion-nav-title>
    <!--	<ion-nav-buttons side="secondary">
                    <button class="button-clear" ng-click="vm.toggleFavorites()">
                            <i class="icon ion-ios-star-outline light" ng-if="!vm.abstract.isInFavorites"></i>
                            <i class="icon ion-ios-star light" ng-if="vm.abstract.isInFavorites"></i>
                    </button>
            </ion-nav-buttons>-->
    <ion-content class="padding has-subheader has-header" scroll="false">
        <ion-scroll class="top-container" scroll-glue>
            <ion-list>                
                <ion-item class="" ng-repeat="msg in vm.messages">
<!--                    <img ng-if="msg.messageFrom===vm.fromuser" style="text-align:right;">-->
                    <h3 ng-if="msg.messageFrom===vm.fromuser" style="text-align: right;color:brown;">{{msg.messengerName}}</h3>
                    <h2 ng-if="msg.messageFrom===vm.fromuser" style="text-align:right;">{{msg.messageText}}</h2>
                    <!--<i class="icon ion-android-chat"></i>
                    <img ng-if="msg.messageTo===vm.fromuser">-->
                    <h3 ng-if="msg.messageTo===vm.fromuser" style="color: blue;">{{msg.messengerName}}</h3>
                    <h2 ng-if="msg.messageTo===vm.fromuser">{{msg.messageText}}</h2>
                    
                </ion-item>
            </ion-list>
        </ion-scroll>
        <form class="list bottom-form">
            <label class="item item-input">
<!--                <span class="input-label">Messages</span>-->
                <input type="text" ng-model="vm.message.messageText" placeholder="">
            </label>
            <button class="button button-positive button-block" ng-click="vm.sendMessage()">Submit</button>
        </form>
    </ion-content>
</ion-view>
<style>
    .top-container{
        height: calc(100% - 96px);
        overflow:scroll;
    }

    .bottom-form{
        position:absolute;
        bottom:0px;
        display:block;
        width:100%;
        background-color:white;
        button{
            margin:0px !important;
        }
    }
</style>