<ion-view view-title="Member">
	<ion-content class="padding">
		<ion-slide-box show-pager="false" ng-if="!!vm.member.avatar">
			<ion-slide>
				<div class="as-avatar">
					<img ng-src="{{vm.member.avatar}}"/>
		  	</div>
			</ion-slide>
		</ion-slide-box>

		<h1>{{vm.member.firstName}} {{vm.member.lastName}}</h1>
		<p>{{vm.member.affiliation}}</p>
		<p>{{vm.member.email}}</p>

		<div class="padding-top" ng-if="!!vm.member.bio">
			<h3>Biography</h3>
 			<p>{{vm.member.bio}}</p>
 		</div>

		<h3>Contact</h3>
		<div class="list card">
			<a href="tel:{{vm.member.phoneNumber}}" class="item item-icon-left">
				<i class="icon ion-ios-telephone"></i>
				Phone
			</a>
			<a class="item item-icon-left" ng-click="vm.sendEmail()">
				<i class="icon ion-email"></i>
				Email
			</a>
			<a class="item item-icon-left" ng-click="vm.openUrl(vm.member.linkedIn)">
				<i class="icon ion-social-linkedin"></i>
				Linked In
			</a>
			<a class="item item-icon-left" ng-click="vm.openUrl(vm.member.webpage)">
				<i class="icon ion-ios-world"></i>
				Webpage
			</a>
		</div>
	</ion-content>
</ion-view>
