<ion-view class="segments">
	<ion-nav-title>
		<button class="button header-button"
			ng-click="vm.showAll()"
			ng-class="{ 'selected-header-button': !vm.favorites }">ALL
		</button>
		<button class="button header-button"
			ng-click="vm.showFavorites()"
			ng-class="{ 'selected-header-button': vm.favorites }">FAVORITES
		</button>
	</ion-nav-title>
<!--	<ion-nav-buttons side="secondary">
		<a class="button button-icon icon ion-ios-close-empty" ng-click="vm.clearSessionFilter()" ng-disabled="!vm.filterBySessionId && !vm.filterByDayId"></a>
		<a class="button button-icon icon ion-android-options" ng-click="vm.showFilter()"></a>
	</ion-nav-buttons>-->

	<div class="bar bar-subheader bar-stable item-input-inset">
		<label class="item-input-wrapper">
			<i class="icon ion-ios-search placeholder-icon"></i>
			<input type="search" placeholder="Search" ng-model="vm.filter" ng-change="vm.filterChanged()">
		</label>
	</div>

	<ion-content class="has-subheader">
           <div class="bar bar-subheader bar-stable item-input-inset" style="top:0px;">
                   <div style="width:10%;float: left;text-align: center;padding: 13px;" ng-click="vm.showYesterday()"><i style="font-size:24px;color: blue;" class="icon ion-android-arrow-dropleft-circle"></i></div>
                   <div style="width:79%; text-align: center;border-width:0px;" class="item" ion-datetime-picker date ng-model="vm.scheduleDate" ng-change="vm.dateChanged()">
                    {{vm.scheduleDate | date: "MMM dd-yyyy"}}
                   </div>
                   <div style="width:10%;float: left;text-align: center;padding: 13px;" ng-click="vm.showTomorrow()"><i style="font-size:24px;color: blue;" class="icon ion-android-arrow-dropright-circle"></i></div>
            </div>
            <div class="bar bar-subheader bar-stable item-input-inset" style="top:0px;">
                <select ng-model="vm.rooms" style="width: 100%;min-height: 40px;border-width: 0px;text-align-last: center;" ng-change="vm.roomChanged()">
                    <option value="all">All</option>
                    <option ng-repeat="r in vm.room" value="{{r}}">{{r}}</option>
                </select>
            </div>
		<ion-list>
                    <div ng-if="noRecord" style="text-align: center;color:red;">{{noRecord}}</div>
			<div style="border-width:1px;" class="item item-text-wrap {{vm.getClasses(item.type)}}" ng-repeat="item in vm.schedule">
                            
<!--				<div ng-if="item.type === 'day'">{{item.date}}</div>
				<div ng-if="item.type === 'session'">{{item.title}}</div>
				<div ng-if="item.type === 'subsession'" ng-click="vm.goToSessionDetail(item.subsession)">
					<h2>{{item.subsession.title}}</h2>
					<p>{{item.subsession.timeStart}} - {{item.subsession.timeEnd}}: {{item.subsession.location}}</p>
				</div>-->

<!--                            <div>Date: {{item.eventDate | date:medium}}</div>-->
                            <div>Location: {{item.location}}</div>
                            <div ng-repeat="session in item.sessions">
<!--                                <div>Session: {{session.sessionName}}</div>-->
                                <div ng-repeat="event in session.events" style="padding:5px;">
                                    <div>{{event.timeStart}}</div>
                                    <div style="color:blue;" ng-click="vm.goToSessionDetail(item,session.id,event.id)">{{event.eventTitle}}</div>                                     
                                </div> 
                            </div>
			</div>
		</ion-list>
	</ion-content>
</ion-view>