<ion-view title="Places to Visit">
    <ion-content padding="true">
        <img style="width: 100%" src="images/places-to-visit/history/history.jpg" alt="" />
        <p>It is interesting to explore the origin & history of Kolkata, the capital of British India. Calcutta’s history is not that old as that of Delhi. Calcutta, the city of joy was established in the year 1686, as a result of the expansion plans of the British Raj. It was during those times that European powers were heading their way towards capturing the small villages of Sutanati, Govindpur, and Kalikata. Calcutta derived its name from the last of the village settlements of Kalikata. Read on to know the brief history of Calcutta India.</p> 
        <p>The city kept progressing until 1756, when Siraj-Ud-Daula (Nawab of Bengal) attacked and succeeded in driving the British away from the town. It was during that time that most of the British civilians had escaped, but a few of them were captured and imprisoned in a suffocating room. This incident has become a history in itself and was given the name 'Black hole tragedy'. In 1757, the following year, Battle of Plassey took place, in which Robert Clive took over the city by defeating the Nawab.</p>
        <p>The end of battle witnessed the establishment of Supreme Court in 1774, making Calcutta as the base of justice. Battle of Plessey saw the drain of wealth, which strained the Bengal's economy. The period between 1820 and 1930 saw the growing of seeds of nationalism that reached its height in 1905, when people stood against Lord Curzon's plan regarding the partition of Bengal. Rabindranath Tagore led the nationalist anti partition movements. The Partition was repealed in 1911, followed by the shifting of capital of India from Calcutta to New Delhi. In 2001, Calcutta was officially renamed Kolkata.</p>
        <p align="center" style="font-size:22px;"><strong style="color:#FF0000;">Tourist Attractions</strong></p>
        <ion-item ng-repeat="list in vm.placesList">
            <img style="width: 100%" ng-click="vm.gotoPlacesDetails(list.place)" ng-src="{{list.image}}" alt="{{list.place}}" title="Tap to read more.." />
            <div class="overlay"></div>
            <div class="button-read" ng-click="vm.gotoPlacesDetails(list.place)">READ MORE</div>
        </ion-item>
    </ion-content>
</ion-view>
<style>
    img {
        height: 250px;
        left: 0;
    }
    img:hover {
        opacity: 0.6;
    }
    .button-read {
        position: absolute;
        background: transparent;
        width: 100%;
        left:0;
        top: 150px;
        text-align: center;
        color: white;
        text-decoration: underline;
        opacity: 0;
        transition: opacity .35s ease;
        z-index: 1;
    }
    .button-read:hover {
        opacity: 1;
    }
    p{text-align: justify;}
    padding{-webkit-scrollbar
            {
                width: 10px;
                background-color: #FFF;
            }}
</style>